.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

header,
main,
.action-picker {
	padding: 20px;
}

header {
	display: flex;
	justify-content: flex-end;
}

header ul {
  display: flex;
  padding: 0;
  margin: 0;
}

header ul li {
  list-style: none;
  margin: 0 7px;
}

header ul li button {
  font-weight: bold;
}

header ul li button[disabled] {
  color: gray;
}

@media (orientation: landscape) {
  .wrapper {
    flex-direction: row;
  }

  header,
  main {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
