html {
	height: 100%;
	min-width: 300px;
	min-height: 280px;
}

body {
	height: 100%;
	max-width: 1024px;
	margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

header,
main,
.action-picker {
	padding: 20px;
}

header {
	display: flex;
	justify-content: flex-end;
}

header ul {
  display: flex;
  padding: 0;
  margin: 0;
}

header ul li {
  list-style: none;
  margin: 0 7px;
}

header ul li button {
  font-weight: bold;
}

header ul li button[disabled] {
  color: gray;
}

.tutorial main {
	filter: blur(5px);

	pointer-events: none;
	cursor: default;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}
main .player {
  display: flex;
  flex-direction: column;
  flex: 0 1 48%;
}
main .player .player-type {
  text-align: center;
  font-weight: bold;
  font-size: 6.5vmin;
  line-height: 1.4;
}
main .player .player-type.computer {
  display: none;
}
.autoplay main .player .player-type.human {
  display: none;
}
.autoplay main .player .player-type.computer {
  display: block;
}
main .player .hand {
  flex-grow: 1;
  transform-origin: center 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
main .player.player-2 .hand {
  transform: scaleX(-1);
}
.start-game main .player.player-1 .hand {
  animation: retract-left-hand 0.4s ease-in-out, retract-left-hand 0.3s 0.4s ease-in-out reverse, retract-left-hand 0.2s 0.7s ease-in-out, retract-left-hand 0.15s 0.9s ease-in-out reverse;
}
.start-game main .player.player-2 .hand {
  animation: retract-right-hand 0.4s ease-in-out, retract-right-hand 0.3s 0.4s ease-in-out reverse, retract-right-hand 0.2s 0.7s ease-in-out, retract-right-hand 0.15s 0.9s ease-in-out reverse;
}

.action-picker {
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  margin: 0;
}
.locked .action-picker, .autoplay .action-picker {
  visibility: hidden;
}
.action-picker li {
  list-style: none;
  margin: 0 10px;
}
.action-picker li .pick-action {
  border-radius: 50%;
  border: 1px solid #333;
  outline: none;
  display: block;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: 90% auto;
  background-position: left bottom;
  /* .locked & {
  	pointer-events: none;
  	background-color: rgba( 50, 50, 50, 0.2 );
  	@include filter(blur(1px));
  } */
}

.outcome {
  display: none;
}
.game-complete .outcome {
  position: fixed;
  top: 15%;
  bottom: 65%;
  left: 30%;
  right: 30%;
  border: 2px solid #51546B;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(126, 137, 252, 0.7);
  animation: zoom 1.2s cubic-bezier(0.365, 1.37, 0.515, 1.38);
}
.game-complete .outcome span {
  font-weight: bold;
  font-size: 10vmin;
  line-height: 1.4;
  text-align: center;
}

.rock {
  background-image: url(_images/rock.svg);
}

.paper {
  background-image: url(_images/paper.svg);
}

.scissors {
  background-image: url(_images/scissors.svg);
}

@media (orientation: landscape) {
  .wrapper {
    flex-direction: row;
  }

  header,
  main,
  .action-picker {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .action-picker {
    flex-direction: column;
  }

  .action-picker li {
    margin: 7px 0;
  }
}

@keyframes retract-left-hand {
  to {
    transform: translate3d(-16%, -16%, 0);
  }
}

@keyframes retract-right-hand {
  to {
    transform: translate3d(16%, -16%, 0) scaleX(-1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0.1);
  }
  30%, 100% {
    transform: scale(1);
  }
}
